doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title GTA Painite
        link(rel="apple-touch-icon", sizes="180x180", href="images/content/apple-touch-icon.png")
        link(rel="icon",type="image/png", sizes="32x32", href="images/content/favicon-32x32.png")
        link(rel="icon", type="image/png", sizes="16x16", href="images/content/favicon-16x16.png")
        link(rel="manifest", href="images/content/site.webmanifest")
        link(rel="mask-icon", href="images/content/safari-pinned-tab.svg", color="#5bbad5")
        meta(name="msapplication-TileColor", content="#da532c")
        meta(name="theme-color", content="#ffffff")
    body
        .page
            .container
                .row
                    .col.col-12.col-xl-12.col-lg-12.col-md-12.col-sm-12.navbar
                        a.navbar-brand(href="index.html", target="_self")
                        - const navbar_items = [
                        - { title: 'Главная', href: 'index.html', target: '_self' },
                        - { title: 'Форум', href: 'https://sa-mp.com', target: '_blank' },
                        - { title: 'Донат', href: 'donate.html', target: '_self' },
                        - { title: 'Начать играть', href: 'howtoplay.html', target: '_self' },
                        - { title: 'Мы Вконтакте', href: 'https://vk.com/gtapainite', target: '_blank' },
                        - ];
                        ul.navbar-menu
                            each navbar_item in navbar_items
                                li.navbar-menu__item
                                    a(href="" + navbar_item.href + "", target="" + navbar_item.target + "").navbar-menu__link.text.text--black.text--medium=navbar_item.title
                        button.navbar-toggler
                            span
            block content
