/* montserrat-300 - latin-ext_latin_cyrillic-ext_cyrillic
@font-face
  font-family: 'Montserrat'
  font-style: normal
  font-weight: 300
  src: url("../fonts/montserrat-v15-latin-ext_latin_cyrillic-ext_cyrillic-300.eot")

  /* IE9 Compat Modes
  src: local(""), url("../fonts/montserrat-v15-latin-ext_latin_cyrillic-ext_cyrillic-300.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v15-latin-ext_latin_cyrillic-ext_cyrillic-300.woff2") format("woff2"), url("../fonts/montserrat-v15-latin-ext_latin_cyrillic-ext_cyrillic-300.woff") format("woff"), url("../fonts/montserrat-v15-latin-ext_latin_cyrillic-ext_cyrillic-300.ttf") format("truetype"), url("../fonts/montserrat-v15-latin-ext_latin_cyrillic-ext_cyrillic-300.svg#Montserrat") format("svg")

/* Legacy iOS

/* montserrat-regular - latin-ext_latin_cyrillic-ext_cyrillic
@font-face
  font-family: 'Montserrat'
  font-style: normal
  font-weight: 400
  src: url("../fonts/montserrat-v15-latin-ext_latin_cyrillic-ext_cyrillic-regular.eot")

  /* IE9 Compat Modes
  src: local(""), url("../fonts/montserrat-v15-latin-ext_latin_cyrillic-ext_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v15-latin-ext_latin_cyrillic-ext_cyrillic-regular.woff2") format("woff2"), url("../fonts/montserrat-v15-latin-ext_latin_cyrillic-ext_cyrillic-regular.woff") format("woff"), url("../fonts/montserrat-v15-latin-ext_latin_cyrillic-ext_cyrillic-regular.ttf") format("truetype"), url("../fonts/montserrat-v15-latin-ext_latin_cyrillic-ext_cyrillic-regular.svg#Montserrat") format("svg")

/* Legacy iOS

/* montserrat-500 - latin-ext_latin_cyrillic-ext_cyrillic
@font-face
  font-family: 'Montserrat'
  font-style: normal
  font-weight: 500
  src: url("../fonts/montserrat-v15-latin-ext_latin_cyrillic-ext_cyrillic-500.eot")

  /* IE9 Compat Modes
  src: local(""), url("../fonts/montserrat-v15-latin-ext_latin_cyrillic-ext_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v15-latin-ext_latin_cyrillic-ext_cyrillic-500.woff2") format("woff2"), url("../fonts/montserrat-v15-latin-ext_latin_cyrillic-ext_cyrillic-500.woff") format("woff"), url("../fonts/montserrat-v15-latin-ext_latin_cyrillic-ext_cyrillic-500.ttf") format("truetype"), url("../fonts/montserrat-v15-latin-ext_latin_cyrillic-ext_cyrillic-500.svg#Montserrat") format("svg")

/* Legacy iOS

/* montserrat-600 - latin-ext_latin_cyrillic-ext_cyrillic
@font-face
  font-family: 'Montserrat'
  font-style: normal
  font-weight: 600
  src: url("../fonts/montserrat-v15-latin-ext_latin_cyrillic-ext_cyrillic-600.eot")

  /* IE9 Compat Modes
  src: local(""), url("../fonts/montserrat-v15-latin-ext_latin_cyrillic-ext_cyrillic-600.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v15-latin-ext_latin_cyrillic-ext_cyrillic-600.woff2") format("woff2"), url("../fonts/montserrat-v15-latin-ext_latin_cyrillic-ext_cyrillic-600.woff") format("woff"), url("../fonts/montserrat-v15-latin-ext_latin_cyrillic-ext_cyrillic-600.ttf") format("truetype"), url("../fonts/montserrat-v15-latin-ext_latin_cyrillic-ext_cyrillic-600.svg#Montserrat") format("svg")

/* Legacy iOS

/* montserrat-700 - latin-ext_latin_cyrillic-ext_cyrillic
@font-face
  font-family: 'Montserrat'
  font-style: normal
  font-weight: 700
  src: url("../fonts/montserrat-v15-latin-ext_latin_cyrillic-ext_cyrillic-700.eot")

  /* IE9 Compat Modes
  src: local(""), url("../fonts/montserrat-v15-latin-ext_latin_cyrillic-ext_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v15-latin-ext_latin_cyrillic-ext_cyrillic-700.woff2") format("woff2"), url("../fonts/montserrat-v15-latin-ext_latin_cyrillic-ext_cyrillic-700.woff") format("woff"), url("../fonts/montserrat-v15-latin-ext_latin_cyrillic-ext_cyrillic-700.ttf") format("truetype"), url("../fonts/montserrat-v15-latin-ext_latin_cyrillic-ext_cyrillic-700.svg#Montserrat") format("svg")

/* Legacy iOS

/* montserrat-800 - latin-ext_latin_cyrillic-ext_cyrillic
@font-face
  font-family: 'Montserrat'
  font-style: normal
  font-weight: 800
  src: url("../fonts/montserrat-v15-latin-ext_latin_cyrillic-ext_cyrillic-800.eot")

  /* IE9 Compat Modes
  src: local(""), url("../fonts/montserrat-v15-latin-ext_latin_cyrillic-ext_cyrillic-800.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v15-latin-ext_latin_cyrillic-ext_cyrillic-800.woff2") format("woff2"), url("../fonts/montserrat-v15-latin-ext_latin_cyrillic-ext_cyrillic-800.woff") format("woff"), url("../fonts/montserrat-v15-latin-ext_latin_cyrillic-ext_cyrillic-800.ttf") format("truetype"), url("../fonts/montserrat-v15-latin-ext_latin_cyrillic-ext_cyrillic-800.svg#Montserrat") format("svg")

/* Legacy iOS
