@mixin only-width ($width)
  min-width: $width
  max-width: $width
  width: $width

@mixin only-height ($height)
  min-height: $height
  max-height: $height
  height: $height

@mixin custom-scrollbar ()
  &::-webkit-scrollbar
    width: 6px
  &::-webkit-scrollbar-track
    background: rgba(0,0,0, .015)
  &::-webkit-scrollbar-thumb
    background-color: rgba(10, 132, 255, .5)
    border-radius: 8px
  &:hover::-webkit-scrollbar-thumb
    background-color: rgba(10, 132, 255, 1)
  &:hover::-webkit-scrollbar-track
    background: rgba(0,0,0,.05)

@mixin text($size, $weight: 400, $style: normal)
  font-size: map-get(map-get($text, $size), size)
  line-height: map-get(map-get($text, $size), line_height)
  font-style: $style
  font-weight: $weight
