@import "fonts"
@import "variables"
@import "mixins"
@import "~normalize.scss"
@import "~owl.carousel/dist/assets/owl.carousel.min.css"
@import "~owl.carousel/dist/assets/owl.theme.default.min.css"
@import "~bootstrap/scss/bootstrap"
@import "~animate.css/animate.min.css"

body
  font-family: 'Montserrat', sans-serif
  color: $black
  overflow-x: hidden
  overflow-y: auto
  &.hidden
    overflow-y: hidden

a
  color: $black
  display: block
  &:hover
    color: $black
  text-decoration: none
  &:hover
    text-decoration: none

.page
  min-width: 100vw
  max-width: 100vw
  min-height: 100vh
  height: auto
  overflow: hidden
  background: url('../images/content/bg.png') no-repeat center
  background-size: cover
  position: relative

  &-overlay
    transform: translate(0px, 0px)
    transition: all 100ms 0s ease-in-out
    @media (min-width: 992px)
      display: flex
      align-items: center
      justify-content: center
      position: absolute
      z-index: 2
    &--1
      @media (min-width: 992px)
        @include only-width(107.5px)
        @include only-height(75px)
        top: 154px
        left: 37px
        &::before
          background-image: url('../images/content/overlays/1.png')
          @include only-width(134px)
          @include only-height(101px)

    &--2
      @media (min-width: 992px)
        @include only-width(232.02px)
        @include only-height(161.87px)
        transform: rotate(116.92deg)
        left: 424.68px
        top: 602.14px
        &::before
          background-image: url('../images/content/overlays/2.png')
          @include only-width(259px)
          @include only-height(186px)

    &--3
      @media (min-width: 992px)
        @include only-width(40.17px)
        @include only-height(28.02px)
        transform: rotate(-141.26deg)
        top: 409.58px
        right: 215.51px
        left: auto
        &::before
          background-image: url('../images/content/overlays/3.png')
          @include only-width(41px)
          @include only-height(29px)

    &--4
      @media (min-width: 992px)
        @include only-width(40.17px)
        @include only-height(28.02px)
        transform: rotate(-39.53deg)
        left: calc(50% - 20px)
        top: 140.37px
        &::before
          background-image: url('../images/content/overlays/4.png')
          @include only-width(41px)
          @include only-height(29px)

    &--5
      @media (min-width: 992px)
        @include only-width(327.86px)
        @include only-height(228.74px)
        transform: rotate(-122.15deg)
        bottom: -80.03px
        top: auto
        left: auto
        right: -24px
        &::before
          background-image: url('../images/content/overlays/5.png')
          @include only-width(354px)
          @include only-height(255px)

    &::before
      @media (min-width: 992px)
        content: ''
        display: block
        background-repeat: no-repeat
        background-position: center

  &-index
    &-content
      width: 100%
      min-height: calc(100vh - 78px)
      display: flex
      flex-direction: column
      justify-content: center
      h1
        min-width: max-content
        display: block
        background: $orange-linear
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        white-space: nowrap
        @include text(big, bold, normal)
        margin-bottom: 11px
        @media (max-width: 1199px)
          font-size: 38px
          line-height: 48px
        @media (max-width: 991px)
          text-align: center
        @media (max-width: 575px)
          font-size: 25px
          line-height: 25px
        @media (max-width: 374px)
          font-size: 23px
          line-height: 33px
      p
        display: block
        min-width: max-content
        color: $dark-orange
        @include text(medium, 500, normal)
        margin-bottom: 21px
        @media (max-width: 1199px)
          font-size: 15px
          line-height: 18px
        @media (max-width: 991px)
          text-align: center
        @media (max-width: 374px)
          font-size: 14px
          line-height: 16px
      a
        @include only-width(166px)
        @include only-height(51px)
        @include text(default, 500, normal)
        text-align: center
        line-height: 51px
        color: #fff
        background: $orange-linear
        box-shadow: 0 20px 13px rgba(255, 184, 0, 0.29), inset 0 4px 12px #FFD662
        border-radius: 165px
        transition: all .3s 0s linear

        &:hover
          box-shadow: 0 0 0 rgba(255, 184, 0, 0.29), inset 0 4px 12px #FFD662
          transform: scale(1.09)

        @media (max-width: 991px)
          margin-left: auto
          margin-right: auto

