extends layout/main
block content
    .page-donate
        .page-overlay.page-overlay--1
        .page-overlay.page-overlay--2
        .page-overlay.page-overlay--3
        .page-overlay.page-overlay--4
        .page-overlay.page-overlay--5
