extends layout/main
block content
    .page-index
        .page-overlay.page-overlay--1
        .page-overlay.page-overlay--2
        .page-overlay.page-overlay--3
        .page-overlay.page-overlay--4
        .page-overlay.page-overlay--5
        .container
            .row
                .col.col-12.col-xl-6.col-lg-6.order-lg-1.order-2
                    .row
                        .human
                .col.col-12.col-xl-6.col-lg-6.order-lg-2.order-1
                    .row
                        .page-index-content
                            h1
                                | Весь мир в твоих руках
                                br
                                | на GTA PAINITE
                            p
                                | Начни игру прямо сейчас, на передовом
                                br
                                | проекте. Уже
                                i(style="font-style: normal; margin: 0 4px;")#players
                                | игроков ждут тебя!
                            a(href="howtoplay.html") Начать игру!
        // include blocks/first
