.human
  @media (max-width: 991px)
    @include only-height(calc(100vh - 42px))
    margin-top: 42px
  transition: opacity .3s 0s ease-in-out
  &.fade-in
    &:not(&.fade-out)
      opacity: 1
      transition: opacity 300ms
  &.fade-out
      opacity: 0
      transition: opacity 300ms
  &-1
    background: url('../images/content/humans/1.png') no-repeat left bottom
    @media (min-width: 992px)
      @include only-width(507px)
      @include only-height(calc(100vh - 78px - 42px))
      margin-top: 42px
    background-size: contain
  &-2
    background: url('../images/content/humans/2.png') no-repeat left bottom
    background-size: contain
    @media (min-width: 992px)
      margin-top: 32px
      @include only-height(calc(100vh - 78px - 32px))
      @include only-width(535px)
  &-3
    background: url('../images/content/humans/3.png') no-repeat left bottom
    background-size: contain
    @media (min-width: 992px)
      margin-top: 44px
      @include only-height(calc(100vh - 78px - 44px))
      @include only-width(534px)
  &-4
    background: url('../images/content/humans/4.png') no-repeat left bottom
    background-size: contain
    @media (min-width: 992px)
      margin-top: 32px
      @include only-height(calc(100vh - 78px - 32px))
      @include only-width(518px)
  @media (max-width: 991px)
    width: 100%
    background-position: center bottom
