.navbar
  padding: 0
  align-items: flex-start
  justify-content: space-between
  @media (max-width: 575px)
    padding: 0 20px

  &-brand
    @include only-width(148px)
    @include only-height(54px)
    background: url('../images/content/logo.png') no-repeat center
    background-size: contain
    padding: 0
    margin: 24px 0 0
    @media (max-width: 991px)
      order: 1
      z-index: 3

  &-menu
    padding: 0
    margin-bottom: 0
    display: flex
    justify-content: space-between
    flex-basis: 705px
    list-style-type: none
    margin-top: 38px

    @media (max-width: 991px)
      margin-top: 0
      opacity: 0
      flex-basis: auto
      width: 100%
      flex-direction: column
      order: 3
      position: absolute
      left: 0
      top: -120px
      transition: all 250ms 0s linear
      z-index: 2
      background-color: #ffffff
      max-height: 100vh

    &--open
      @media (max-width: 991px)
        top: 0
        padding: 120px 0 60px
        opacity: 1

    &__item
      position: relative
      @media (max-width: 991px)
        text-align: center

    &__link
      @include text(default, 500)
      transition: all .3s 0s ease-in-out

      @media (min-width: 992px)
        &::after
          content: ''
          display: block
          position: absolute
          background: $orange-linear
          border-radius: 57px
          width: 20px
          height: 4px
          top: auto
          bottom: -7px
          left: calc(50% - 10px)
          opacity: 0
          transform: translateY(20px)
          transition: all .3s 0s ease-in-out

      &:hover, &--active
        background: $orange-linear
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent

        &::after
          @media (min-width: 992px)
            opacity: 1
            transform: translateY(0)

  &-toggler
    @media (min-width: 992px)
      display: none
    @media (max-width: 991px)
      width: 24px
      height: 24px
      position: relative
      transform: rotate(0deg)
      transition: .5s ease-in-out
      background: transparent
      border: 0
      padding: 0
      display: flex
      align-items: center
      justify-content: center
      flex-direction: column
      outline: none
      order: 2
      z-index: 3
      margin: 42px 0 0
      &::before, span, &::after
        content: ''
        display: block
        width: 100%
        height: 2px
        background-color: $orange
        opacity: 1
        left: 0
        transform: rotate(0deg)
        border-radius: 10px
        transition: 350ms ease-in-out
      &::before
        margin-top: 0
      span, &::after
        margin-top: 4px
      &--active
        span
          opacity: 0
        &::before
          transform: rotate(45deg) translate(4px, 4px)
        &::after
          transform: rotate(-45deg) translate(4px, -4px)
